<nav class="c-footer-navigation">
    <ul class="c-footer-navigation__list">
        <li class="c-footer-navigation__list-item"><a href="#">Privacy Policy &amp; Cookies</a></li>
        <li class="c-footer-navigation__list-item"><a href="#">Contact Us</a></li>
        <li class="c-footer-navigation__list-item"><a href="#">Child Protection Statement</a></li>
        <li class="c-footer-navigation__list-item"><a href="#">Hearts &amp; Minds Accounts 2017/18</a></li>
    </ul>
</nav>