// Footer
.o-footer {
    background: #424242;
    margin-top: 50px;
}
.o-footer__content {
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1440px;
    margin: 0 auto;
}

.o-footer__col {
    padding: 15px 10px 30px;
    width: 100%
}

.o-footer__icon {
    display: inline-block;
    padding: 10px 15px 0 0;

    a {
        color: #ffffff;
    }

    a:hover {
        color: $color-primary;
    }
}

.o-footer__input {
    width: 80%;
}

.o-footer__input:focus {
    outline: 3px solid $color-primary;
}

@media screen and (min-width: 500px) {
    .o-footer__col {
        padding: 30px 20px 60px;
        width:  50%;
    }
}

@media screen and (min-width: 800px) {
    .o-footer__col {
        width:  33.333333%;
    }
}