<nav class="m-global-navigation {{ styleModifier }}">
    <ul class="m-global-navigation__list">
        <li class="m-global-navigation__list-item">{{> atoms-menu-link(menuText:"Who we help") }}</li>
        <li class="m-global-navigation__list-item">{{> atoms-menu-link(menuText:"How we help") }}</li>
        <li class="m-global-navigation__list-item">{{> atoms-menu-link(menuText:"About us") }}</li>
        <li class="m-global-navigation__list-item">{{> atoms-menu-link(menuText:"News") }}</li>
        <li class="m-global-navigation__list-item">{{> atoms-menu-link(menuText:"Get invloved") }}</li>
        <li class="m-global-navigation__list-item">
            {{> atoms-button(buttonText:"Donate now") }}
        </li>
    </ul>
</nav>