<div class="m-team-member">
    {{> atoms-image:m-team-member__image(imageURL:"../../images/staff/sarah-hough.png") }}
    <div class="m-team-member__text">
        <p>Sarah Hough</p>
        <p>Fundraising Officer</p>
        <a href="mailto:sarah@heartsminds.org.uk">sarah@heartsminds.org.uk</a>
    </div>
</div>