.m-skip-links {
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    z-index: 999;
}

.m-skip-links__link {
    background: $color-tertiary;
    color: $color-secondary;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-decoration: underline;
    top: 0;
    width: 0;
}

.m-skip-links__link:focus {
    border: 3px dashed #da3832;
    height: auto;
    left: 10px;
    overflow: auto;
    padding: 10px;
    top: 10px;
    width: auto;
}

.keypress .m-skip-links__link:focus {
    outline: none;
}
