<blockquote class="c-quote">
    <p class="c-quote__text">"She's been in pain for so long it's so nice to see her smile again"</p>
    <p class="c-quote__source">Mother of 10 year old</p>
</blockquote>