{{> organisms-header }}
{{> molecules-hero }}
<div class="t-full-width">
    <div class="t-left-content">
        {{> atoms-heading-2:u-underline(heading2Text:"Accessibility statement") }}
        <p>Hearts & Minds Limited is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards. </p>
        {{> atoms-heading-3(heading3Text:"Conformance status") }}
        <p>The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. Hearts & Minds is partially conformant with WCAG 2.1 level AA. Partially conformant means that some parts of the content do not fully conform to the accessibility standard.</p>
        {{> atoms-heading-3(heading3Text:"Feedback") }}
        <p>We welcome your feedback on the accessibility of Hearts & Minds. Please let us know if you encounter accessibility barriers on Hearts & Minds:</p>
        <ul>
            <li>E-mail: <a href="mailtio:info@heartsminds.org.uk">info@heartsminds.org.uk</a></li>
            <li>Postal address: Lower Ground, 4 Castle Terrace, Edinburgh, EH1 2DP</li>
        </ul>
        <p>We try to respond to feedback within 5 business days.</p>     
    </div>
</div>
{{> organisms-footer }}
