<div class="c-team-members">
    <div class="c-team-member">
        {{> atoms-image:c-team-member__image(imageURL:"../../images/staff/sarah-hough.png") }}
        <div class="c-team-member__text">
            <p>Sarah Hough</p>
            <p>Fundraising Officer</p>
            <a href="mailto:sarah@heartsminds.org.uk">sarah@heartsminds.org.uk</a>
        </div>
    </div>
    <div class="c-team-member">
        {{> atoms-image:c-team-member__image(imageURL:"../../images/staff/sarah-hough.png") }}
        <div class="c-team-member__text">
            <p>Sarah Hough</p>
            <p>Fundraising Officer</p>
            <a href="mailto:sarah@heartsminds.org.uk">sarah@heartsminds.org.uk</a>
        </div>
    </div>
    <div class="c-team-member">
        {{> atoms-image:c-team-member__image(imageURL:"../../images/staff/sarah-hough.png") }}
        <div class="c-team-member__text">
            <p>Sarah Hough</p>
            <p>Fundraising Officer</p>
            <a href="mailto:sarah@heartsminds.org.uk">sarah@heartsminds.org.uk</a>
        </div>
    </div>
</div>
