<header class="o-header" role="banner">
    <div class="o-header__content">
        {{> molecules-logo-link }}
        <button class="m-navigation__menu-button">Menu</button>
        {{> molecules-header-navigation }}
    </div>
</header>