<header class="o-header" role="banner">
    <div class="o-header__content">
        {{> molecules-logo-link }}
        {{> molecules-header-navigation }}
        {{> molecules-button(buttonText:"Donate now") }}
    </div>
</header>