// Logo link
.m-logo-link {
    max-width: 280px;
    padding-right: 10px;
    &:focus {
        outline-offset: 6px;
    }
}

@media screen and (min-width:480px) {
    .m-logo-link {
        max-width: 300px;
    }
}

@media screen and (min-width:800px) {
    .m-logo-link {
        max-width: none;
    }
}

// Navigation
.m-navigation {
    align-self: center;
    margin-left: auto;
    padding-top: 20px;
    width: 100%;
}
.m-navigation__menu-button {
    display: none;
    border: none;
    border-top: 3px solid $color-primary;
    background: none;
    cursor: pointer;
    font-size: 1rem;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    min-height: 55px;
    padding: 10px 0 2px;
    position: relative;

    &:before {
        border-top: 3px solid $color-primary;
        border-bottom: 3px solid $color-primary;
        content: "";
        height: 4px;
        position: absolute;
        top: 4px;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.m-navigation__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}
.m-navigation__list-item {
    padding: 10px 15px;
    width: 100%;

    .m-button {
        margin-top: -5px;
    }
}

.js {
    .m-navigation {
        width: auto;
    }
    .m-navigation__menu-button {
        display: block;
    }
}

.m-navigation--footer {
    background: #282828;

    .m-navigation__list {
        display: flex;
        justify-content: center;
    }

    .m-navigation__list-item a {
        color: #ffffff;
    }
}

@media screen and (min-width:800px) {
    .m-navigation__list-item {
        width: auto;
    }
}

@media screen and (min-width:1200px) {
    .m-navigation {
        padding-top: 0;
        width: auto;
    }

    .js {
        .m-navigation__menu-button {
            display: none;
        }
        .m-navigation__list {
            display: flex;
        }
    }
}

// Buttons
.m-button {
    align-self: center;
    background: #DA3832;
    border: none;
    border-radius: 6px;
    color: $color-tertiary;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    margin: 0;
    padding: 10px 15px;
    text-decoration: none;

    a {
        color: #ffffff;
    }
}

.m-button:hover {
    background:darkred;
    text-decoration: underline;     
}

.m-button:focus {
    background:darkred;
    outline-offset: 3px;   
}

.m-button--lg {
    border-radius: 12px;
    padding: 16px 20px 16px 15px;
    font-size: 1.2rem;
}

// FooterNavigation
.m-footer-navigation {
    align-self: center;
    background: #282828;
    margin-left: auto;
}
.m-footer-navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
.m-footer-navigation__list-item {
    padding: 2px 20px;

    a {
        color: #ffffff;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}

// Card
.m-card {
    box-shadow: 0 5px 15px rgba(176, 176, 176, .50);
    border-radius: 10px;
    display: flex;
    flex: 1;
    flex-basis: calc((60rem - 100%) * 999);
    flex-direction: column;
    margin: 25px;
    overflow: hidden;

    .m-card__text {
        padding: 18px 20px;

        > * {
            margin-top: 0;
        }
    }

    .m-card__heading {
        color: $color-primary;
    }

    .m-card__link {
        margin: auto 15px 20px;
    }
}

.m-team-member {
    text-align: center;
    padding: 20px;
}

.m-team-member__image img {
    border: 4px solid $color-primary;
    border-radius: 50%;
    width: 150px;
    margin: 10px auto;
}
