<div class="c-cards">
    <div class="c-card">
        {{> atoms-image(imageURL:"../../images/card/card.png") }}
        <div class="c-card__text">
            {{> atoms-heading-3:c-card__heading }}
            {{> atoms-text }}
        </div>
        {{> atoms-link:c-card__link }} 
    </div>
    <div class="c-card">
        {{> atoms-image(imageURL:"../../images/card/card.png") }}
        <div class="c-card__text">
            {{> atoms-heading-3:c-card__heading }}
            {{> atoms-text }}
        </div>
        {{> atoms-link:c-card__link }} 
    </div>
    <div class="c-card">
        {{> atoms-image(imageURL:"../../images/card/card.png") }}
        <div class="c-card__text">
            {{> atoms-heading-3:c-card__heading }}
            {{> atoms-text }}
        </div>
        {{> atoms-link:c-card__link }} 
    </div>
</div>