<header class="c-header" role="banner">
    <div class="c-header__content">
        {{> components-logo-link }}
        <button class="c-global-navigation__menu-button">Menu</button>
        {{> components-header-navigation }}
    </div>
</header>