// Navigation
.js {
    .c-global-navigation {
        flex-direction: column;
        text-align: left;
        width: 100%;
    }
    .c-global-navigation__menu-button {
        display: block;
    }
}

.c-global-navigation {
    align-self: center;
    display: flex;
    margin-left: auto;
    padding-top: 20px;
    width: 100%;

    .a-button {
        align-self: stretch;
    }
}
.c-global-navigation__menu-button {
    display: none;
    border: none;
    border-top: 3px solid $color-primary;
    background: none;
    cursor: pointer;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    min-height: 55px;
    padding: 10px 0 2px;
    position: relative;

    &:before {
        border-top: 3px solid $color-primary;
        border-bottom: 3px solid $color-primary;
        content: "";
        height: 4px;
        position: absolute;
        top: 4px;
        width: 100%;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.c-global-navigation__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
}

.c-global-navigation__list-item {
    padding: 10px 15px;
    width: 100%;
}

.c-global-navigation__sub-menu {
    display: none;
    padding: 20px 20px 0;
    z-index: 1;

    .c-global-navigation__list-item {
        padding-bottom: 12px;
        position: relative;
        background: #ffffff;
        display: block;

        &:last-child {
            border-radius: 0 0 12px 12px;
            padding-bottom: 20px;
        }
    }
}
  
.c-global-navigation__list-item--active {

    > a {
        border-bottom: 4px solid #DA3832;
    }

    .c-global-navigation__sub-menu {
        display: block;
    }
}

@media screen and (min-width:500px) {
    .c-global-navigation__menu-button {
        font-size: 1rem;
    }
}

@media screen and (min-width:1200px) {
    .c-global-navigation {
        padding-top: 0;
        width: auto;

        .a-button {
            align-self: center;
        }
    }

    .js {
        .c-global-navigation {
            flex-direction: row;
            width: auto;
        }
        .c-global-navigation__menu-button {
            display: none;
        }
        .c-global-navigation__list {
            display: flex;
        }
    }

    .c-global-navigation__sub-menu {
        padding: 20px 0;
        position: absolute;
    }

    .c-global-navigation__list-item {
        width: auto;
    }
}
